.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #dde6ed;
  width: 80%;
  background-color: #526d82;
  padding: 15px;
  border-radius: 15px;
  gap: 10px;
}

.inputGroup > input {
  margin-top: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 20px;
  background-color: #dde6ed;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
}

.label-text {
  font-weight: bold;
}
