.list-container {
  background-color: #c8e4ce;
  margin: 30px 0 60px 0;
  padding: 30px 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

li > h2 {
  font-size: 1.2rem;
  text-decoration: none solid rgb(128, 1, 91);
  word-spacing: 0px;
  font-weight: 100;
  margin-bottom: 5px;
}

li > h3 {
  color: #008600;
}
.monthly_payment_text {
  font-size: 1.7rem;
}

@media screen and (min-width: 601px) {
  .list-container {
    width: 30vw;
  }
}
