* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 601px) {
  body {
    display: flex;
    justify-content: center;
  }
  .main_container {
    width: 40vw;
    height: fit-content;
    box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.05);
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 15px;
  }
}
